* {
    /* padding: 0%; */
    margin: 0%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}

header {
    background-color: black;
    line-height: 80px;
}

.navbar-container {
    display: flex;
    justify-content:space-between;
    padding: 5px;
}

.left-side {
    position: relative;
    top: 13px;
    left: 60px;
}

img {
    height: 40px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    margin: 0px 20px;
    font-size: 17px;
}

li span img {
    position: relative;
    top: 13px;
    height: 40px;
}


#border-box {
    background-color: white;
    padding: 10px 18px;
    border-radius: 25px;
    color: black;
    text-transform: uppercase;
}

#border-box:hover {
    padding: 9.5px 17.5px;
}