* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    cursor: pointer;
}


.bg-img {
    height: 750px;
    width: 100%;
    color: white;
    background-image: url(/Altus-Company-Clone-website/Logo/dark-background-photo.avif);
    background-size: cover;
}

header {
    line-height: 80px;
}

.navbar-container {
    display: flex;
    justify-content:space-between;
    padding: 5px;
    position: sticky;
    top: 0;
}

.left-side {
    position: relative;
    top: 0px;
    left: 60px;
}

.left-side img {
    height: 40px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    margin: 0px 20px;
    font-size: 17px;
}

li span img {
    position: relative;
    top: 0;
    height: 40px;
}


#border-box {
    background-color: white;
    padding: 10px 18px;
    border-radius: 25px;
    color: black;
    text-transform: uppercase;
}

#border-box:hover {
    padding: 9.5px 17.5px;
}

.company-info {
   padding: 150px;
}

.heading {
    width: 1100px;
}

.heading h1 {
    font-size: 80px;
}

.info-para p {
    font-size: 18px;
}

main .oracle-info {
    height: 95vh;
    background-color: #000000;
    padding: 0 150px;
    padding-top: 200px;
    color: #ffffff;
}

.oracle-info .heading-name {
    font-size: 46px;
}

.service-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.service-info p {
    width: 400px;
    font-size: 18px;
}


#carouselExampleAutoplaying {
    position: relative;
    top: 30px;
    width: 450px;
}

.carousel-item img {
    height: 200px;
}

.our-service-container {
    height: 1058px;
    background-color: #ffffff;
}

.heading-box {
    padding: 0 68px;
    padding-top: 100px; 
}

.service-heading h2 {
    color: #000000;
    text-transform: uppercase;
    margin: 60px 0;
}

.heading-box .heading2 {
    width: 800px;
}

.heading2 h1 {
    font-size: 46px;
}

.other-service-container {
    display: flex;
    margin: 70px;
    border: 2px solid #000000;
    justify-content: space-between;
    height: 703px;
}

.service-img {
    height: 700px;
    width: 700px;
}

.service1 {
    padding: 0 80px;
    padding-top: 130px;
}

#service-heading h4 {
    text-transform: uppercase;
    font-size: 18px;
}

#service-heading {
    margin-bottom: 30px;
}

#service-info {
    height: 400px;
    width: 500px;
}

#service-heading h2{
    font-size: 36px;
}

#service-info p {
    font-size: 17px;
}

#read-more-info {
    margin-top: 30px;
    width: 200px;
}

#read-more-info a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

#read-more-info i {
    margin-left: 97px;
}

#comman-service-box {
    border-radius: 30px;
}

#img-border-radius {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#left-img-border-radius {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.workapproach-container {
    background-color: #000000;
    color: white;
    height: 900px;
}

.workapproach .hr-line {
    width: 195vh;
    margin: 0 75px;
    padding-top: 200px;
}

.workapproach h1 {
    padding: 50px;
    font-size: 50px;
    padding-left: 68px;
}

.workapproach-detail {
    display: flex;
    justify-content: space-evenly;
}

.open-laptop img {
    height: 515px;
    width: 390px;
}

.detail {
    height: 456px;
    width: 530px;
}

.detail .detail-heading {
    padding: 15px 0;
}

.detail .detail-heading h4{
    font-size: 23px;
    width: 400px;
}

.detail p {
    font-size: 17px;
}

.career-container {
    height: 450px;
    color: #ffffff;
    padding: 60px 0;
    background-image: url(/Altus-Company-Clone-website/Logo/Career-Ladder-banner.jpeg);
}

.career-info {
    margin-left: 15%;
    text-align: center;
    width: 1050px;
    height: 200px;
}

.career-info .heading h2 {
    font-size: 50px;
}

.heading-info {
    width: 1050px;
}

.career-info .heading-info {
    padding-top: 30px;
}

.career-info .heading-info p {
    font-size: 18px;
}

.more-info-link {
    padding-top: 30px;
}

.more-info-link a {
    padding: 11px 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.more-info-link a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #3e3b3b89;
    border-radius: 30px;
    text-transform: uppercase;
}

.companygraph-container {
    background-color: #000000;
    color: #ffffff;
    height: 640px;
}

.company-graph .hr-line {
    width: 195vh;
    margin: 0 75px;
    padding-top: 140px;
}

.company-graph .company-text h4 {
    padding: 20px;
    font-size: 20px;
    padding-left: 68px;
    text-transform: uppercase;
}

.company-graph .india-text h1 {
    padding: 10px;
    font-size: 50px;
    padding-left: 68px;
}

.graph-count {
    display: flex;
    justify-content: space-between;
    width: 195vh;
    padding-left: 120px;
    padding-top: 90px;
}

.graph-count .count-box {
    height: 160px;
    width: 330px;
    padding-top: 24px;
}

.count-number p {
    font-size: 68px;
}

.count-number i {
    font-size: 40px;
}

.count-box .heading h3 {
    font-size: 27px;
}

video {
    width: 100%;
}

.clients-cp-logo {
    display: flex;
    width: 200px;
    margin-left: 90px;
    margin-top: 50px;
}